.demo {
	position: relative;
}

.demo .notificationsFrame {
	z-index: 2;
	top: 20px;

	overflow: hidden;

	width: 100%;
	margin-bottom: 40px;

	border-radius: 3px;
	background: #fff;

	font-family: 'Open Sans', Helvetica, sans-serif;
}

.demo .notificationsFrame.show-menu {
	transform: translate3d(150px, 0, 0);
}

.demo .notificationsFrame .searchInput {
	position: absolute;
	top: 13px;
	right: 55px;

	box-sizing: border-box;
	width: 200px;
	height: 34px;
	padding: 0 17px;

	transition: all .3s ease-in-out;
	transform: translateX(15px);
	pointer-events: none;

	opacity: 0;
	color: #666;
	border: 10px solid red;
	border: none;
	border-radius: 17px;
	background: #fff;

	font-size: 13px;
}

.demo .notificationsFrame .searchInput:focus {
	outline: none;
}

.demo .notificationsFrame .searchInput.active {
	-webkit-transform: translateX(0);
	        transform: translateX(0);
	pointer-events: all;

	opacity: 1;
}

.demo .notificationsFrame .header {
	position: relative;

	height: 60px;
	padding-top: 0;

	background: #5f98cd;
}

.demo .notificationsFrame .header .menuIcon {
	position: absolute;
	top: 23px;
	left: 20px;

	width: 29px;
	height: 15px;

	cursor: pointer;
}

.demo .notificationsFrame .header .menuIcon:hover .dashTop,
.demo .notificationsFrame .header .menuIcon:hover .dashBottom,
.demo .notificationsFrame .header .menuIcon:hover .circle {
	background: #fff;
}

.demo .notificationsFrame .header .menuIcon .dashTop {
	position: absolute;
	top: 0;
	left: 0;

	width: 20px;
	height: 3px;

	-webkit-transition: all .2s ease-in-out;
	        transition: all .2s ease-in-out;

	border-radius: 3px;
	background: #b2daff;
}

.demo .notificationsFrame .header .menuIcon .dashBottom {
	position: absolute;
	top: 0;
	top: auto;
	bottom: 0;
	left: 0;

	width: 20px;
	width: 29px;
	height: 3px;

	-webkit-transition: all .2s ease-in-out;
	        transition: all .2s ease-in-out;

	border-radius: 3px;
	background: #b2daff;
}

.demo .notificationsFrame .header .menuIcon .circle {
	position: absolute;
	top: -2px;
	right: 0;

	width: 7px;
	height: 7px;

	-webkit-transition: all .2s ease-in-out;
	        transition: all .2s ease-in-out;

	border-radius: 4px;
	background: #b2daff;
}

.demo .notificationsFrame .header .title {
	display: block;

	padding-top: 20px;

	text-align: center;

	color: #fff;

	font-size: 15px;
	font-weight: 600;
}

.demo .notificationsFrame .header .searchIcon {
	position: absolute;
	z-index: 3;
	top: 18px;
	right: 20px;

	cursor: pointer;
	-webkit-transition: all .3s ease;
	        transition: all .3s ease;

	color: #fff;

	font-size: 21px;
}

.demo .notificationsFrame .header .searchIcon:hover {
	color: #fff;
}

.demo .notificationsFrame .content {
	position: relative;

	overflow: hidden;

	height: 100%;
}

.demo .notificationsFrame .content .line {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 40px;

	width: 3px;

	background: #ebebeb;
}

.demo .notificationsFrame .content .item {
	position: relative;
	z-index: 2;

	display: block;

	margin: 20px 30px 30px 70px;
	/*border-radius: 50%;
   border: 5px solid #ecf0f1;
   box-sizing: border-box;
   position: absolute;
   height: 20px;
   width: 20px;
   background: #fff;
   border: 2px solid #5F98CD;
   box-shadow: 0 0 0 3px #fff;*/
}

.demo .notificationsFrame .content .item:hover {
	cursor: pointer;

	color: #5f98cd;
}

.demo .notificationsFrame .content .item .circle {
	position: absolute;
	top: 0;
	left: -20px;

	box-sizing: border-box;
	width: 11px;
	height: 11px;

	border: 2px solid #5f98cd;
	border-radius: 6px;
	background: #fff;
	box-shadow: 0 0 0 3px #fff;
}

.demo .notificationsFrame .content .item .avatar {
	position: absolute;
	left: -49px;

	display: inline-block;
	overflow: hidden;

	width: 40px;
	height: 40px;

	vertical-align: top;
}

.demo .notificationsFrame .content .item .avatar img {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;

	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;

	    -ms-border-radius: 50%;
	     -o-border-radius: 50%;
}

.demo .notificationsFrame .content .item .time {
	display: block;

	margin-bottom: 2px;

	font-size: 11px;
	line-height: 11px;
}

.demo .notificationsFrame .content .item p {
	margin: 0 40px 0 0;

	font-family: 'Open Sans', Lora, Times, no-serif;
	font-size: 15px;
	line-height: 20px;
}

.demo .notificationsFrame .content .item p b {
	font-weight: 600;
}

.demo .notificationsFrame .content .item .right {
	position: absolute;
	top: 11px;
	right: 5px;

	font-size: 11px;
}

.demo .notificationsFrame .content .item .commentCount {
	position: absolute;
	top: 11px;
	right: 15px;

	font-size: 12px;
}

.demo .notificationsFrame .content .item .commentCount:after {
	position: absolute;
	z-index: 3;
	top: -50%;
	left: 100%;

	margin-left: 10px;

	content: '\f075';

	color: #ebebeb;

	font-family: FontAwesome;
	font-size: 20px;
}

.demo .notificationsFrame .content .item .commentCount:hover:after {
	color: lightblue;
}

.demo .notificationsFrame .footer {
	position: relative;

	width: 100%;
	height: 30px;
	margin: auto;

	border-top: 1px solid #eee;
	border-radius: 10px;
	background: #fff;
}

.demo .notificationsFrame .footer button {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	width: 100%;

	border: 0;
	background: #eee;
}

.demo .notificationsFrame .footer button i {
	margin: 0 10px;
}
